.heading {
  text-align: center;
}

.table-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.table-container {
  margin: 2rem;
}

.table-container button {
  height: 7.5rem;
  width: 7.5rem;
}
