.heading {
  text-align: center;
  margin-block-end: 5rem;
}

.main-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-inline: 2rem;
}

.table-container {
  width: 100%;
  /* display: none; */
}

.table-container button {
  position: relative;
  width: 100%;
  padding-block: 50%;
}

.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50%;
}

.information-container p {
  background-color: lightblue;
  padding: 2rem;
}

.fa-solid {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}